.swfuploadhtml, .swfuploadwrap { margin-top: 5px; margin-left: 5px; height: auto; }
.swfuploadwrap li { display: inline-block; height: 110px; width: 150px; margin-right: 12px; margin-top: 5px; overflow: hidden; vertical-align: top; position: relative; }
.swfuploadwrap li div.swfuploadimg { height: 98px; overflow: hidden; border-radius: 3px; text-align: center; border: solid 1px #888; }
.swfuploadwrap li div.swfuploadimg div { display: table-cell; height: 100px; width: 150px; vertical-align: middle; text-align: center; }
.swfuploadwrap li img { cursor: pointer; vertical-align: middle; width: 100%; }
.swfuploadwrap li h2 { position: absolute; top: 45px; left: 1px; right: 1px; border: solid 1px #20c1ff; height: 12px; overflow: hidden; background: rgba(255, 255, 255, 0.5); text-align: center; font-size: 12px; line-height: 12px; }
.swfuploadwrap li p { margin: 3px 0px; height: 18px; overflow: hidden; word-break: keep-all; }
.swfuploadwrap li h2 div { background: #20c1ff; font-size: 10px; color: Black; text-align: center; height: 12px; }
.swfuploadwrap li label { vertical-align: middle; }
.swfuploadwrap li input { vertical-align: middle; height: 12px; line-height: 12px; font-size: 12px; width: 105px; }
.swfuploadwrap li input.radio { width: auto; }
.swfuploadwrap.fr { float: right; }
.swfuploadwrap.fr li { float: right; }
.swfuploadwrap li h6 { background: url(/img/hezuo/duihao.png) no-repeat; width: 15px; height: 20px; position: absolute; top: 0px; right: 0px; display: none; }

.swfuploadwrap.h120 li { height: 120px; }
.swfuploadwrap.h140 li { height: 140px; }
.swfuploadwrap.h140 li { height: 140px; }
.swfuploadwrap.h150 li { height: 150px; }
.swfuploadwrap.h160 li { height: 160px; }
.swfuploadwrap.h170 li { height: 170px; }
.swfuploadwrap.h190 li { height: 190px; }

.swfuploadimgh120 li div.swfuploadimg { height: 118px; }
.swfuploadimgh120 li h2 { top: 48px; }
.swfuploadimgh140 li div.swfuploadimg { height: 138px; }
.swfuploadimgh140 li h2 { top: 58px; }
.swfuploadimgh150 li div.swfuploadimg { height: 148px; }
.swfuploadimgh150 li h2 { top: 68px; }
